---
layout: default
topbanner: true
title: Moonlanding Network
---
<!-- Intro Section -->
<div class="container">
    {% assign item = site.data.configuration %}
    <div class="intro-section">
        
        <!-- Hero Banner -->
        <div class="banner">
                <img src="{{site.baseurl}}{{item.site-info.logo-image}}" alt="">
            <h1 class="logo">{{item.site-info.logo-name}}</h1>
            <h5>{{item.site-info.logo-name-subtitle}}</h5>
            <div class="banner-buttons">
                <a href="{{item.social.twitter-link}}">
                    <button class="btn round skyblue hollow">
                        <i class="fab fa-twitter"></i>Follow Twitter</button>
                </a>
                <a href="{{item.social.telegram-chat}}">
                    <button class="btn round orange hollow">
                        <i class="fab fa-telegram-plane"></i>Join Chat</button>
                </a>
                <a href="{{item.social.telegram-broadcast}}">
                    <button class="btn round orange hollow">
                        <i class="fab fa-telegram-plane"></i>Join Broadcast</button>
                </a>
            </div>
        </div>
        <!-- End Hero Banner -->
        <!-- Twitter Feed -->
        <div id="twitter-feed-home" class="twitter-feed">
            <hr class="small">
            <div class="down-arrow">
                <a href="#twitter-feed-home"><img src="images/dpubledown-arrow.png" alt="double down arrow"></a>
            </div>
            <div class="twitter-box">
                <a class="twitter-timeline" data-width="420" data-height="300" data-chrome="nofooter" href="https://twitter.com/{{item.social.twitter-username}}?ref_src=twsrc%5Etfw">Tweets by {{item.social.twitter-username}}</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

            </div>
            <hr class="small">
        </div>
        <!-- End Twitter Feed -->

        <!-- ICO List Buttons -->

        <div class="ico-list-buttons">
            <a href="{{site.baseurl}}/preico">
                <button class="btn round big skyblue">Pre ICO List</button>
            </a>
            <a href="#">
                <button class="btn round big orange hollow disabled">Fund Pool List</button>
            </a>
        </div>
        <!-- End ICO List Buttons -->
    </div>
    
    <!-- End Intro Section -->
    <!-- ICO Grid -->

    <hr class="home-ico-hr">
    <div class='ico-grid-tabs'>
            <div data-id="1" class='ico-grid-tab'>Upcoming</div>
            <div data-id="2" class='ico-grid-tab active'>Active</div>
            <div data-id="3" class='ico-grid-tab'>Ended </div>
    </div>
    <div class="ico-grid">
        
        {% assign featuredcoins = site.coins | where: 'ico.featured', 'true' | sort: 'date' | reverse %} {% assign regularcoins
        = site.coins | where: 'ico.featured', 'false' | sort: 'date' | reverse %} {% assign timeframe = 86400 %} {%
        assign current_date = "now" | date: "%s" | minus: timeframe %}
        <div class="ico-col" id="ico-col-1">
            <div class="ico-col-title">Upcoming ICO</div>
            <div class="ico-col-content">
            <!-- Featured Upcoming Coins Array -->
            {% assign featuredUpcoming = "" | split: ',' %} {% assign featuredUpcomingExpired = "" | split: ',' %} {% for coin in featuredcoins
            %} {% assign featuredTill = coin.ico.featured-till | date: "%s" | plus: 0 %} {% assign pre_ico_end_date = coin.pre-ico.end-date
            | date: "%s" | plus: 0 %} {% assign ico_start_date = coin.ico-detail.start-date | date: "%s" | plus: 0 %} {%
            if current_date > pre_ico_end_date and ico_start_date > current_date %} {% if featuredTill > current_date %}
            {% assign featuredUpcoming = featuredUpcoming | push: coin %} {% else if current_date > featuredTill %} {% assign
            featuredUpcomingExpired = featuredUpcomingExpired | push: coin %} {% endif %} {% endif %} {% endfor %}

            <!-- Regular Upcoming coins array -->
            {% assign regularUpcoming = "" | split: ',' %} {% for coin in regularcoins %} {% assign pre_ico_end_date = coin.pre-ico.end-date
            | date: "%s" | plus: 0 %} {% assign ico_start_date = coin.ico-detail.start-date | date: "%s" | plus: 0 %} {%
            if current_date > pre_ico_end_date and ico_start_date > current_date %} {% assign regularUpcoming = regularUpcoming
            | push: coin %} {% endif %} {% endfor %}

            <!-- Total Upcoming coins array -->
            {% assign regularUpcoming = regularUpcoming | concat: featuredUpcomingExpired | sort: 'date-added' | reverse %} {% assign
            totalUpcoming = featuredUpcoming | concat: regularUpcoming %} {% for coin in totalUpcoming limit: 15 %} {% assign
            featuredTill = coin.ico.featured-till | date: "%s" | plus: 0 %} {% if current_date > featuredTill %} {% assign
            featuredExpired = true %} {% endif %} {% assign ico_start_date = coin.ico-detail.start-date | date: "%s" | plus:
            0 %} {% assign secondsTo = ico_start_date | minus: current_date %} {% assign hoursTo = secondsTo | divided_by:60
            | divided_by: 60 %} {% assign daysTo = hoursTo | divided_by: 24 %}
            <a href="{{coin.url}}">
                <div class="ico-card {% unless featuredExpired %} {% if coin.ico.featured %} featured {% endif %} {% endunless %}">
                    <div class="ico-card-sec">
                        <div class="ico-card-image">
                            <img src="{{site.url}}{{coin.ico.logo}}" alt="">
                        </div>
                        <div class="ico-card-rating {% if coin.ico.featured == false or coin.ico.show-rating == true %}number{% endif %}">{% if coin.ico.featured == true and coin.ico.show-rating == false %}&#9733;{% endif %}{% if coin.ico.featured
                            == false or coin.ico.show-rating == true %}{{coin.ico.moonability}}{% endif %}</div>
                    </div>
                    <div class="ico-card-main">
                        <h4 class="ico-card-title">{{coin.ico.name}}</h4>
                        <h6 class="ico-card-desc">{{coin.ico.category}}</h6>
                        {% assign collected = coin.progress.collected %} {% assign total = coin.progress.total %} {% if collected.size > 0 and collected != 0 %} {% assign percent = collected |
                            times: 100 | divided_by: total %} {% else %} {% assign percent = 0 %}{% endif %}
                        <h6 class="ico-card-status">{% if collected.size != 0 %}${{collected}}{% else %} 0 {% endif %} / {% if total.size != 0 %} ${{total}} {% else %} 0 {% endif %}</h6>
                        <h6 class="ico-card-percentage">{{percent}}%</h6>
                        <div class="ico-card-meta">
                            <h6 class="ico-card-type">Featured</h6>
                            <h6 class="ico-etr">{% if daysTo == 0 %}Starts Today{% else %}in {{daysTo}}d{% endif %}</h6>
                        </div>
                    </div>

                </div>
            </a>
            {% endfor %}
            </div>
            <a class="ico-col-btn-parent" href="{{site.baseurl}}/upcomingico">
                <button class="ico-col-btn">View All Upcoming ICO
                    <i class="fas fa-arrow-right"></i>
                </button>
            </a>
        
        </div>
        <div class="ico-col active" id="ico-col-2">
            <div class="ico-col-title">Active ICO</div>
            <div class="ico-col-content">
            <!-- Featured Active Coins Array -->
            {% assign featuredActive = "" | split: ',' %} {% assign featuredActiveExpired = "" | split: ',' %} {% for coin in featuredcoins
            %}{% unless coin.pre-ico.no-date %} {% unless coin.ico-detail.no-date %} {% assign featuredTill = coin.ico.featured-till | date: "%s" | plus: 0 %} {% assign ico_start_date = coin.ico-detail.start-date
            | date: "%s" | plus: 0 %} {% assign ico_end_date = coin.ico-detail.end-date | date: "%s" | plus: 0 %} {% if current_date
            > ico_start_date and ico_end_date > current_date %} {% if featuredTill > current_date %} {% assign featuredActive
            = featuredActive | push: coin %} {% else if current_date > featuredTill %} {% assign featuredActiveExpired =
            featuredActiveExpired | push: coin %} {% endif %} {% endif %} {% endunless %} {% endunless %} {% endfor %}

            <!-- Regular Active coins array -->
            {% assign regularActive = "" | split: ',' %} {% for coin in regularcoins %} {% unless coin.pre-ico.no-date %}{% unless coin.ico-detail.no-date %}  {% assign ico_start_date = coin.ico-detail.start-date
            | date: "%s" | plus: 0 %} {% assign ico_end_date = coin.ico-detail.end-date | date: "%s" | plus: 0 %} {% if current_date
            > ico_start_date and ico_end_date > current_date %} {% assign regularActive = regularActive | push: coin %} {%
            endif %} {% endunless %} {% endunless %} {% endfor %}

            <!-- Total Active coins array -->
            {% assign regularActive = regularActive | concat: featuredActiveExpired | sort: 'date-added' | reverse %} {% assign totalActive
            = featuredActive | concat: regularActive %} {% for coin in totalActive limit: 15 %} {% assign featuredTill =
            coin.ico.featured-till | date: "%s" | plus: 0 %} {% if current_date > featuredTill %} {% assign featuredExpiredActive
            = true %} {% endif %} {% assign ico_end_date = coin.ico-detail.end-date | date: "%s" | plus: 0 %} {% assign secondsTo
            = ico_end_date | minus: current_date %} {% assign hoursTo = secondsTo | divided_by:60 | divided_by: 60 %} {%
            assign daysTo = hoursTo | divided_by: 24 %}
            <a href="{{coin.url}}">
                <div class="ico-card {% unless featuredExpiredActive %}{% if coin.ico.featured %}featured{% endif %}{% endunless %} ">
                    <div class="ico-card-sec">
                        <div class="ico-card-image">
                            <img src="{{site.url}}{{coin.ico.logo}}" alt="">
                        </div>
                        <div class="ico-card-rating {% if coin.ico.featured == false or coin.ico.show-rating == true %}number{% endif %}">{% if coin.ico.featured == true and coin.ico.show-rating == false %}&#9733;{% endif %}{% if coin.ico.featured
                            == false or coin.ico.show-rating == true %}{{coin.ico.moonability}}{% endif %}</div>
                    </div>
                    <div class="ico-card-main">
                        <h4 class="ico-card-title">{{coin.ico.name}}</h4>
                        <h6 class="ico-card-desc">{{coin.ico.category}}</h6>
                        {% assign collected = coin.progress.collected %} {% assign total = coin.progress.total %} {% if collected.size > 0 and collected != 0 %} {% assign percent = collected |
                            times: 100 | divided_by: total %} {% else %} {% assign percent = 0 %}{% endif %}
                        <h6 class="ico-card-status">{% if collected.size != 0 %}${{collected}}{% else %} 0 {% endif %} / {% if total.size != 0 %} ${{total}} {% else %} 0 {% endif %}</h6>
                        <h6 class="ico-card-percentage">{{percent}}%</h6>
                        <div class="ico-card-meta">
                            <h6 class="ico-card-type">Featured</h6>
                            <h6 class="ico-etr">{% if daysTo == 0 %}Ends Today{% else %}{{daysTo}}d left{% endif %}</h6>
                        </div>
                    </div>

                </div>
            </a>
            {% endfor %}

        </div>
            <a class="ico-col-btn-parent" href="{{site.baseurl}}/activeico">
                <button class="ico-col-btn">View All Active ICO
                    <i class="fas fa-arrow-right"></i>
                </button>
            </a>
        
        </div>
        <div class="ico-col" id="ico-col-3">
            <div class="ico-col-title">Ended ICO</div>
            <div class="ico-col-content">
            <!-- Featured Ended Coins Array -->
            {% assign featuredEnded = "" | split: ',' %} {% assign featuredEndedExpired = "" | split: ',' %} {% for coin in featuredcoins
            %} {% unless coin.pre-ico.no-date %}{% unless coin.ico-detail.no-date %}{% unless coin.ico-detail.end-date.size == 0 %} {% assign featuredTill = coin.ico.featured-till | date: "%s" | plus: 0 %} {% assign ico_end_date = coin.ico-detail.end-date
            | date: "%s" | plus: 0 %} {% if current_date > ico_end_date %} {% if featuredTill > current_date %} {% assign
            featuredEnded = featuredEnded | push: coin %} {% else if current_date > featuredTill %} {% assign featuredEndedExpired
            = featuredEndedExpired | push: coin %} {% endif %} {% endif %} {% endunless %} {% endunless %} {% endunless %}{% endfor %}

            <!-- Regular Ended coins array -->
            {% assign regularEnded = "" | split: ',' %} {% for coin in regularcoins %} {% unless coin.pre-ico.no-date %}{% unless coin.ico-detail.no-date %}{% unless coin.ico-detail.end-date.size == 0 %} {% assign ico_end_date = coin.ico-detail.end-date
            | date: "%s" | plus: 0 %} {% if current_date > ico_end_date %} {% assign regularEnded = regularEnded | push:
            coin %} {% endif %} {% endunless %} {% endunless %}{% endunless %} {% endfor %}

            <!-- Total Ended coins array -->
            {% assign regularEnded = regularEnded | concat: featuredEndedExpired | sort: 'date-added' | reverse %} {% assign totalEnded
            = featuredEnded | concat: regularEnded %} {% for coin in totalEnded limit: 15 %} {% assign featuredTill = coin.ico.featured-till
            | date: "%s" | plus: 0 %} {% if current_date > featuredTill %} {% assign featuredExpiredEnded = true %} {% endif
            %} {% assign ico_end_date = coin.ico-detail.end-date | date: "%s" | plus: 0 %} {% assign secondsTo = current_date
            | minus: ico_end_date %} {% assign hoursTo = secondsTo | divided_by:60 | divided_by: 60 %} {% assign daysTo =
            hoursTo | divided_by: 24 %}
            <a href="{{coin.url}}">
                <div class="ico-card {% unless featuredExpiredEnded %}{% if coin.ico.featured %}featured{% endif %}{% endunless %} ">
                    <div class="ico-card-sec">
                        <div class="ico-card-image">
                            <img src="{{site.url}}{{coin.ico.logo}}" alt="">
                        </div>
                        <div class="ico-card-rating {% if coin.ico.featured == false or coin.ico.show-rating == true %}number{% endif %}">{% if coin.ico.featured == true and coin.ico.show-rating == false %}&#9733;{% endif %}{% if coin.ico.featured
                            == false or coin.ico.show-rating == true %}{{coin.ico.moonability}}{% endif %}</div>
                    </div>
                    <div class="ico-card-main">
                        <h4 class="ico-card-title">{{coin.ico.name}}</h4>
                        <h6 class="ico-card-desc">{{coin.ico.category}}</h6>
                        {% assign collected = coin.progress.collected %} {% assign total = coin.progress.total %} {% if collected.size > 0 and collected != 0 %} {% assign percent = collected |
                            times: 100 | divided_by: total %} {% else %} {% assign percent = 0 %}{% endif %}
                        <h6 class="ico-card-status">{% if collected.size != 0 %}${{collected}}{% else %} 0 {% endif %} / {% if total.size != 0 %} ${{total}} {% else %} 0 {% endif %}</h6>
                        <h6 class="ico-card-percentage">{{percent}}%</h6>
                        <div class="ico-card-meta">
                            <h6 class="ico-card-type">Featured</h6>
                            <h6 class="ico-etr">{% if daysTo == 0 %}Ended Today{% else %}in {{daysTo}}d{% endif %}</h6>
                        </div>
                    </div>

                </div>
            </a>
            {% endfor %}
            </div>
            <a class="ico-col-btn-parent" href="{{site.baseurl}}/endedico">
                <button class="ico-col-btn">View All Ended ICO
                    <i class="fas fa-arrow-right"></i>
                </button>
            </a>
        
        </div>
    </div>
</div>
<!-- ICO Grid End -->