---
layout: default
bottombanner: true
title: Upcoming ICOs  | Moonlanding Network 

---
{% assign unDated = site.coins | where: 'ico.no-date', 'true' %}
{% assign featuredcoins = site.coins | where: 'ico.featured', 'true' %}
{% assign regularcoins = site.coins | where: 'ico.featured', 'false' %}
{% assign timeframe =  86400 %}
{% assign current_date = "now" | date: "%s" | minus: timeframe  %}
<!-- Featured Coins Array -->
{% assign featuredUpcoming = "" | split: ',' %}
{% assign featuredExpired = "" | split: ',' %}
{% for coin in featuredcoins %}
{% assign featuredTill = coin.ico.featured-till | date: "%s" | plus: 0 %}
{% assign pre_ico_end_date = coin.pre-ico.end-date | date: "%s" | plus: 0 %}
{% assign ico_start_date = coin.ico-detail.start-date | date: "%s" | plus: 0 %}
{% if current_date > pre_ico_end_date and ico_start_date > current_date %}
    {% if featuredTill > current_date %}
    {% assign featuredUpcoming = featuredUpcoming | push: coin %}
    {% else if current_date > featuredTill %}
    {% assign featuredExpired = featuredExpired | push: coin %}
    {% endif %}
{% endif %}

{% endfor %}
{% assign featuredUpcoming = featuredUpcoming | sort: 'date-added' | reverse %}
<!-- Regular coins array -->
{% assign regularUpcoming = "" | split: ',' %}
{% for coin in regularcoins %}
{% assign pre_ico_end_date = coin.pre-ico.end-date | date: "%s" | plus: 0 %}
{% assign ico_start_date = coin.ico-detail.start-date | date: "%s" | plus: 0 %}
{% if current_date > pre_ico_end_date and ico_start_date > current_date %}
{% assign regularUpcoming = regularUpcoming | push: coin %}
{% endif %}
{% endfor %}

<!-- Undated Coins Array -->
{% assign unDated = site.coins | where: 'ico-detail.no-date', 'true' %}
{% assign featuredunDated = "" | split: ',' %}
{% assign featuredunDatedExpired = "" | split: ',' %}
{% assign regularunDated = "" | split: ',' %}

{% for coin in unDated  %}
{% unless coin.pre-ico.no-date %}
{% if coin.ico.featured %}
{% assign featuredTill = coin.ico.featured-till | date: "%s" | plus: 0 %}
{% if featuredTill > current_date %}
{% assign featuredunDated = featuredunDated | push: coin %}
{% else %}
{% assign featuredunDatedExpired = featuredunDatedExpired | push: coin %}
{% endif %}
{% endif %}
{% unless coin.ico.featured %}
{% assign regularunDated = regularunDated | push: coin %}
{% endunless %}
{% endunless %}
{% endfor %}

<!-- Sort Featured Undated -->
{% assign featuredunDated = featuredunDated | sort: 'date-added' | reverse %}
<!-- Concat Undated Feature Expired to Undated Regular & Sort  -->
{% assign regularunDated = regularunDated | concat: featuredunDatedExpired | sort: 'date-added' | reverse %}

<!-- Regular coins array + Featured Expired Coins  -->
{% assign regularUpcomingTotal = regularUpcoming | concat: featuredExpired | sort: 'date-added'  | reverse %}

<!-- Add Undated Coins to FeaturedUpcoming and Regular Upcoming -->
{% assign featuredUpcoming = featuredUpcoming | concat: featuredunDated %}
{% assign regularUpcomingTotal = regularUpcomingTotal | concat: regularunDated %}

<div class="page-end-gradient top">

</div>

<!-- Body Content -->
<div class="main-body-content">
    <div class="container">
        <!-- ICO Nav -->
        {% include iconav.html %}
        <!-- End ICO Nav -->
        <!-- ICO Table -->
        <div id="upcoming-ico" class="ico-table">
            <ul class="ico-project-name">
                <h5 class="ico-table-title first">Project</h5>
                {% for coin in featuredUpcoming %}
                <a href="{{coin.url}}"><li class="featured">
                    <div class="ico-table-title-image">
                        <img src="{{coin.ico.logo}}" alt="">
                    </div>
                    <div class="ico-table-title-content">
                        <h5>{{coin.ico.name}}</h5>
                        <p>{{coin.ico.shortdesc}}</p>
                    </div>
                </li></a>
                {% endfor %} {% for coin in regularUpcomingTotal %}
                
                <a href="{{coin.url}}"><li>
                    <div class="ico-table-title-image">
                        <img src="{{coin.ico.logo}}" alt="">
                    </div>
                    <div class="ico-table-title-content">
                        <h5>{{coin.ico.name}}</h5>
                        <p>{{coin.ico.shortdesc}}</p>
                    </div>
                </li></a>
                {% endfor %}
            </ul>
            <ul class="ico-moonability">
                <h5 class="ico-table-title">Moonability</h5>
                {% for coin in featuredUpcoming %}
                <li class="featured {% if coin.ico.show-rating %}number{% endif %}">{% unless coin.ico.show-rating %}Featured{% endunless %}{% if coin.ico.show-rating %}{{coin.moonability}}{% endif %}</li>
                {% endfor %} {% for coin in regularUpcomingTotal %}
                <li class="number">{{coin.moonability}}</li>
                {% endfor %}
            </ul>
            <ul class="ico-category">
                <h5 class="ico-table-title">Category</h5>
                {% for coin in featuredUpcoming %}
                <li class="featured">{{coin.ico.category}}</li>
                {% endfor %} {% for coin in regularUpcomingTotal %}
                <li>{{coin.ico.category}}</li>
                {% endfor %}

            </ul>
            <ul class="ico-fund-raised">
                <h5 class="ico-table-title">Fund Raised</h5>
                {% for coin in featuredUpcoming %}
                <li class="featured">
                    {% assign collected = coin.progress.collected %} {% assign total = coin.progress.total %} {% assign percent = collected |
                    times: 100 | divided_by: total %}
                    <h5>${{collected}} / ${{total}}
                        <span>({{percent}}%)</span>
                    </h5>
                    <progress class="ico-fund-progress" min="0" max="100" value="{{percent}}"></progress>
                </li>
                {% endfor %} {% for coin in regularUpcomingTotal %}
                <li>
                    {% assign collected = coin.progress.collected %} {% assign total = coin.progress.total %} {% assign percent = collected |
                    times: 100 | divided_by: total %}
                    <h5>${{collected}} / ${{total}}
                        <span>({{percent}}%)</span>
                    </h5>
                    <progress class="ico-fund-progress" min="0" max="100" value="{{percent}}"></progress>
                </li>
                {% endfor %}
            </ul>
            <ul class="ico-ends-in">
                <h5 class="ico-table-title">Starts In</h5>
                {% for coin in featuredUpcoming %} {% assign ico_start_date = coin.ico-detail.start-date | date: "%s" | plus: 0
                %} {% assign secondsTo = ico_start_date | minus: current_date %} {% assign hoursTo = secondsTo | divided_by:
                60 | divided_by: 60 %} {% assign daysTo = hoursTo | divided_by: 24 %}
                <li class="featured">
                    <button class="btn round bulky"><span class="ico-date-value">{% if coin.ico-detail.no-date %}TBA{% endif %}{% unless coin.ico-detail.no-date %}{% if daysTo == 0 %}Today{% else %}{{ daysTo }}</span> Days{% endif %}{% endunless %}</button>
                </li>
                {% endfor %} {% for coin in regularUpcomingTotal %} {% assign ico_start_date = coin.ico-detail.start-date | date: "%s" | plus:
                0 %} {% assign secondsTo = ico_start_date | minus: current_date %} {% assign hoursTo = secondsTo | divided_by:
                60 | divided_by: 60 %} {% assign daysTo = hoursTo | divided_by: 24 %}
                <li>
                    <button class="btn round bulky"><span class="ico-date-value">{% if coin.ico-detail.no-date %}TBA{% endif %}{% unless coin.ico-detail.no-date %}{% if daysTo == 0 %}Today{% else %}{{ daysTo }}</span> Days{% endif %}{% endunless %}</button>
                </li>
                {% endfor %}
            </ul>
            <ul class="ico-social-media">
                <h5 class="ico-table-title last">Social Media</h5>
                {% for coin in featuredUpcoming %}
                <li class="featured">
                    <span>
                        <a href="{{coin.social.twitter}}">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </span>
                    <span>
                        <a href="{{coin.social.telegram}}">
                            <i class="fab fa-telegram-plane"></i>
                        </a>
                    </span>
                    <span>
                        <a href="{{coin.social.facebook}}">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </span>
                </li>
                {% endfor %} {% for coin in regularUpcomingTotal %}
                <li>
                    <span>
                        <a href="{{coin.social.twitter}}">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </span>
                    <span>
                        <a href="{{coin.social.telegram}}">
                            <i class="fab fa-telegram-plane"></i>
                        </a>
                    </span>
                    <span>
                        <a href="{{coin.social.facebook}}">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </span>
                </li>
                {% endfor %}

            </ul>

        </div>
    </div>
    <!-- End Body Content -->

</div>