---
layout: default
title: Whitelist  | Moonlanding Network 
---
{% assign timeframe =  86400 %}
{% assign current_date = "now" | date: "%s" | minus: timeframe  %}
{% assign whitelistCoins = site.coins | where: 'whitelist.status', 'true' %}
{% assign whitelistCoins = whitelistCoins | sort: 'date-added' | reverse %}

<div class="page-end-gradient top large mobile-none">

</div>
<!-- Main Body Content -->
<div class="main-body-content bg-mobile">
    <!-- Whitelist Title -->
    <div class="whitelist-title">
        <h1>Whitelist</h1>
        <p>Current list of ICOs where Whitelist is active. Registration is required for participation.</p>
    </div>
    <hr class="pre-ico-hr">
    <!-- End Whitelist Title -->
    <!--- Whitelist Table -->
    <div class="container">
        <!-- ICO Table -->
        <div class="ico-table minimal">
         <div class="tbody">
            {% for coin in whitelistCoins %}
            <ul class="">
                <a class="ico-project-name-parent minimal" href="{{coin.url}}">
                <li class="ico-project-name minimal">
                    <div class="ico-table-title-image">
                        <img src="{{site.baseurl}}{{coin.ico.logo}}" alt="">
                    </div>
                    <div class="ico-table-title-content">
                        <h5>{{coin.ico.name}}</h5>

                    </div>
                </li>
                </a>
                <a class="ico-project-category-parent minimal" href="{{coin.url}}">
                <li class="ico-category minimal">{{coin.ico.category}}</li>
                </a>
                <a class="ico-whitelist-type-parent minimal" href="{{coin.url}}">
                <li class="ico-category minimal">{{coin.whitelist.type}}</li>
                </a>
                {% assign  whitelistStart = coin.whitelist.start-date | date: "%s" | plus: 0 %}
                {% assign  whitelistEnd = coin.whitelist.end-date | date: "%s" | plus: 0 %}
                {% unless coin.whitelist.no-date %}  
                {% if whitelistStart > current_date  %}
                 {% assign status = 'Soon' %}
                {% endif %}
                {% if current_date > whitelistStart and whitelistEnd > current_date %}
                 {% assign status = 'Open' %}
                {% endif %}
                {% if current_date > whitelistEnd %}
                 {% assign status = 'Closed' %}
                {% endif %}
                {% endunless %}
                {% if coin.whitelist.no-date %}
                 {% assign status = 'TBA' %}
                {% endif %}
                <a id="whitelist-status-parent" href="{{coin.url}}">
                <li>
                    <button class="whitelist-status btn round bulky">{{status}}</button>
                </li>
                </a>
                <li class="ico-action">
                    <a href="{{coin.social.website}}">Join Now</a>
                </li>
              </ul>
              {% endfor %}

        </div>
    </div>
    </div>
    <!-- End Whitelist Table -->
</div>
</div>


<form action="https://network.us18.list-manage.com/subscribe/post" method="POST" class="ico-promo-banner">
    <h4>Get the week’s best ICO right in your Inbox</h4>
    <input type="hidden" name="u" value="2ce60cfaa1d59af941dc65248">
    <input type="hidden" name="id" value="93c42b0c4d">
    <input placeholder="input e-mail address" name="MERGE0" id="MERGE0" type="email">
    <input type="submit" class="btn std" value="Subscribe"></input>
</form>