
        <!-- Crypto Price -->
        <div class="container">
        <div class="crypto-price">
            <div class="crypto-item">
                <h2>
                    <span class="crypto-name">
                        <i class="fab fa-btc"></i>BTC</span>
                    <span id="btc-live-value" class="crypto-price-value"></span>
                    <span id="btc-live-change" class="crypto-price-change"></span>
                </h2>
            </div>
            <div class="crypto-item">
                <h2>
                    <span class="crypto-name">
                        <i class="fab fa-ethereum"></i>ETH</span>
                    <span id="eth-live-value" class="crypto-price-value"></span>
                    <span id="eth-live-change" class="crypto-price-change"></span>
                </h2>
            </div>
        </div>
        </div>
        <!-- End Crypto Price -->