<div id="disclaimer-modal" class="modal-container">
        <div class="modal column alt">
            <div class="modal-head">
                <i class="fas fa-times modal-close"></i>
                <h1><span>!</span>Disclaimer</h1>
            </div>
            <div class="modal-body">
                <p><span>NO FINANCIAL ADVICE – </span>The Information on this website is provided for education and informational purposes only, without any express or implied warranty of any kind, including warranties of accuracy, completeness, or fitness for any particular purpose. The Information contained in or provided from or through this website is not intended to be and does not constitute financial advice, investment advice, trading advice or any other advice. The Information on this website and provided from or through this website is general in nature and is not specific to you the User or anyone else. You should not make any decision, financial, investment, trading or otherwise, based on any of the information presented on this website without undertaking independent due diligence and consultation with a professional broker or financial advisory. You understand that you are using any and all Information available on or through this website at your own risk.</p>
                <p><span>RISK STATEMENT – </span>The trading of Bitcoins, alternative cryptocurrencies has potential rewards, and it also has potential risks involved. Trading may not be suitable for all people. Anyone wishing to invest should seek his or her own independent financial or professional advice.</p>
            </div>
        </div>
    </div>