 <!-- Footer Begin -->
 {% for item in site.data.configuration.config %}
 {% assign about = item.site-info %}
 {% assign social = item.social %}
 {% endfor %}
 <footer>
    <!-- Footer Col 1 -->
    
    <a class="footer-logo footer-logo-parent" href="{{site.url}}"><div class="footer-logo">
        <img src="{{site.baseurl}}{{about.logo-image}}" alt="Moonlanding logo">
        <h2 class="logo">{{about.logo-name}}</h2>
        <h5>{{about.logo-name-subtitle}}</h5>
    </div></a>
    <!-- End Footer Col 1 -->
    <!-- Footer Col 2 -->
    <div class="footer-about">
        <p>{{about.description}}</p>
    </div>
    
    <!-- End Footer Col 2 -->
    <!-- Footer Col 3 -->
    <div class="footer-links">
        <ul>
            {% for item in site.data.footer.links-col-1 %}
            <a href="{{item.href}}"><li>{{item.name}}</li></a>
            {% endfor %}
        </ul>
    </div>
    <!--End Footer Col 3 -->
    <!-- Footer Col 4 -->
    <div class="footer-links">
        <ul>
            {% for item in site.data.footer.links-col-2 %}
            <a href="{{item.href}}"><li>{{item.name}}</li></a>
            {% endfor %}
        </ul>
    </div>
    <!--End Footer Col 4 -->
    <!-- Footer Col 5 -->
    <div class="footer-links more">
        <ul>
            <a href="{{social.twitter-link}}"><li><i class="fab fa-twitter"></i>Twitter<span>Follow</span></li></a>
            <a href="{{social.facebook-link}}"><li><i class="fab fa-facebook-f"></i>Facebook<span>Follow</span></li></a>
            <a href="{{social.telegram-broadcast}}"><li><i class="fab fa-telegram-plane"></i>Telegram</li></a>
        </ul>
    </div>
    <!--End Footer Col 5 -->
</footer>
<!-- Footer End -->


