<!-- NavBar -->
<div class="container">
    <nav>
        <div id="nav-main">
        <a href="{{site.url}}">
            <h1 class="logo">Moon Landing</h1>
        </a>
        <div class="nav-actions">
        <li id="nav-search"><i class="fas fa-search"></i></li>
        <li id="humbruger-menu">&#9776;</li>
        </div>
        </div>
        <ul>
            <li>
                <a href="{{site.url}}">Home</a>
            </li>
            <li>
                <a href="{{site.url}}/whitelist">Whitelist</a>
            </li>
            <li id="disclaimer-modal-toggle">Disclaimer</li>
            <li>
                <a href="{{site.url}}/publishico">Advertising</a>
            </li>
            <li>
                <button id="subscribe-modal-toggle" class="btn round orange">Subscribe</button>
            </li>
            <li id="search-container">
                <input id="search-input" type="text" placeholder="&#xf002;" />
                <ul id="results-container"></ul>
            </li>
        </ul>
    </nav>
</div>
<!-- End NavBar -->

