<!-- NavBar -->
<div class="container">
    <nav>
        <a href="{{site.url}}">
            <h1 class="logo">Moon Landing</h1>
        </a>
        <li id="humbruger-menu">&#9776;</li>
        <ul>
            <li>
                <a href="{{site.url}}">Home</a>
            </li>
            <li>
                <a href="{{site.url}}/whitelist">Whitelist</a>
            </li>
            <li id="disclaimer-modal-toggle">Disclaimer</li>
            <li>
                <a href="{{site.url}}/publishico">Advertising</a>
            </li>
            <li>
                <button id="subscribe-modal-toggle" class="btn round orange">Subscribe</button>
            </li>
            <li id="search-container">
                <input id="search-input" type="text" placeholder="&#xf002;" />
                <ul id="results-container"></ul>
            </li>
        </ul>
    </nav>
</div>
<!-- End NavBar -->

