<div id="subscribe-modal" class="modal-container">
    <div class="modal">
        <div class="modal-image">
            <img src="{{site.baseurl}}/images/modal.png" alt="">
        </div>
        <div class="modal-content">
            <i class="fas fa-times modal-close"></i>
            <h1>Subscribe</h1>
            <div class="input-group">
                <input name="first-name" type="text" placeholder="First name">
                <input name="last-name" type="text" placeholder="Last name">
            </div>
            <input name="email" type="text" placeholder="Email">
            <!--
            <input type="password" placeholder="Password">
            <input type="password" placeholder="Re-type Password">
            <div class="input-checkbox">
                <input class="orange sqaure" id="subscribeNews" type="checkbox">
                <label for="subscribeNews">Subscribe to our email updates & newsletter.</label>
            </div> 
             -->
    
            <button class="btn std orange" type="submit">Subscribe</button>
        </div>
    </div>
    </div>