<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{site.url}}/fav/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{site.url}}/fav/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{site.url}}/fav/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{site.url}}/fav/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{site.url}}/fav/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{site.url}}/fav/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{site.url}}/fav/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{site.url}}/fav/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="{{site.url}}/fav/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="{{site.url}}/fav/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="{{site.url}}/fav/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{site.url}}/fav/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{site.url}}/fav/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{{site.url}}/fav/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="{{site.url}}/fav/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="{{site.url}}/fav/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="{{site.url}}/fav/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="{{site.url}}/fav/mstile-310x310.png" />
    {% seo %}
    <meta name="keywords" content="{% if page.keywords %}{{page.keywords}}{% else %}{{site.keywords}}{% endif %}">
      
    {% include_cached stylesheets.html %}
</head>

<body>
 <!-- Modals -->
{% include_cached subscribe.html %}
{% include_cached disclaimer-modal.html %}
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <!-- Top Banner -->
    {% if page.topbanner %}
    {% include topbanner.html %}
    {% endif %}
    <!-- End Top Banner -->
    
    <!-- Navbar -->
    {% include_cached nav.html %}

    <!-- Coin Value -->
    {% include_cached coinvalue.html %}

    <!-- Page Content -->
    {{ content }}

    <!-- Bottom Banner -->
    {% if page.bottombanner %}
    {% include_cached bottombanner.html %}
    {% endif %}
    <!-- Footer -->
    {% include_cached footer.html %}
    {% include_cached disclaimer.html %}

    <!-- Persistent Buttons -->
    {% include_cached persistentbuttons.html %}

    

</body>
<script src="{{site.baseurl}}/js/custom.js"></script>
<script src="{{site.baseurl}}/js/search.js"></script>
<script>
        SimpleJekyllSearch({
          searchInput: document.getElementById('search-input'),
          resultsContainer: document.getElementById('results-container'),
          json: '/search.json'
        })
</script>
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
<!--
<script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
</script>
-->
</html>